<nav class="navbar navbar-expand-lg py-1 my-0"> 
    <div class="container py-0">
        <a class="navbar-brand py-0 my-0" href="index.html">
            <img src="img/logo.png" alt="Moonsilk Logo" width="200">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto fw-medium gap-4"> 
                <li class="nav-item"><a class="nav-link" href="features.html">Tính năng</a></li>
                <li class="nav-item"><a class="nav-link" href="courses.html">Khóa học</a></li>
                <li class="nav-item"><a class="nav-link" href="pricing.html">Giá cả</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">Về chúng tôi</a></li>
                <li class="nav-item"><a class="nav-link" href="faq.html">Câu hỏi thường gặp</a></li>
            </ul>
            
            <div class="navbar-actions d-flex gap-3">
                <button class="btn btn-indigo px-4 py-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng nhập</button>
                <button class="btn btn-yellow px-4 py-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#registerModal">Đăng ký miễn phí</button>
            </div>
        </div>
    </div>
</nav>
